html, body {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
}

@font-face {
    font-family: Overpass;
    src: url(https://fonts.google.com/specimen/Overpass);
}


#card {
    font-size: 1.2rem;
    max-width: 30rem;
    background-color: hsl(213, 19%, 18%);
    /*height: 50%;*/
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /*align-items: center centers the image but also affects the btn-group class*/    
    
}


#submit {
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 1.5rem;
    width: 100%;
    border: none;
    font-family: inherit;
    font-weight: 400;
    padding: .3rem 0;
}

#submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    
}

button:hover {
    cursor: pointer;
}

.btn-group {
    margin: 0 40px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.rbut {
    background-color: hsl(213, 19%, 23%);
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 0 .3rem;
    text-align: center;
    font-family: inherit;
    color: hsl(217, 12%, 63%);
}

.rbut:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.rbut button:active {
    background-color: hsl(216, 12%, 54%);

}

button.selected { /*applies to all buttons with the class 'selected' -  .selected button would apply to all chilld buttons within an element with a class "selected" */
    background-color: hsl(217, 12%, 63%);
    color: white;
  }


p {
    color: hsl(217, 12%, 63%);
    margin-top: 0;
}

#star-card {
    background-color: hsl(213, 19%, 23%);
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-family: inherit;
    color: hsl(217, 12%, 63%);
    box-sizing: border-box;
}

#illustration-thank-you {
    width: 8rem;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-bottom: 0;
    display: block;
    
}

#selected-message {
    padding: .5rem 1rem;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    border-radius: 1rem;
    color:  hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 23%);
}

.attribution {
    font-size: 1.29rem;
    max-width: 30rem;
    background-color: hsl(213, 19%, 18%);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    display: inline;
    align-items: center;
    justify-content: center;
    
}

#div-in-att {
    color: white;
    max-width: 30rem;
}

.attribution a {
    color: lightcyan;
}